<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda</title>
    <link rel="stylesheet" href="static/css/main.css">
    <br>
    

        <div class="box">
            <div class="container-1">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="Buscar..." />
            </div>
          </div>

    </div>
</head>
<br>
<br>
<body>

    <div class="grid">
        <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, ex?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, repellat.
        </div>
    
        <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, quos!
        </div>

        <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, quos!
        </div>

        <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, ex?
        </div>
    
        <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, quos!
        </div>

        <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, quos!
        </div>
        
    </div>
</body>
</html>