<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha484-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW4" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/diseño.css">
    <title>Informacion de Docente</title>
  </head>
  <body>
    <div class="container" id="overview">
      <div class="container" id="cabeza">
        <div class="row">
          <div class="col-sm-2">
            <img src="images/iconouser.png" id="iconouser">
          </div>
          <div class="col-sm-10" id="Datoscabeza">
            <div class="row-sm-4">
              "Nombre del Docente"
            </div>
            <div class="row-sm-4">
              "Docente"
            </div>          
            <div class="row-sm-4">
              "Cedula"
            </div>          
          </div>
        </div>
      </div>

      <div class="container" id="Datos">
        <div class="row">
          <h5>Datos personales</h5>
        </div>
        <div class="row">
          <table class="table" id="Culumnadatos">
            <tbody>
              <tr>
                <td>Nombre Completo</td>
                <td align="right" id="Nombre_Completo">"XXXXXXXXXXXXXX"</td>
              </tr>
              <tr>
                <td>Correo electrónico</td>
                <td align="right" id="Correo_electrónico">"XXXXXXXXX@gmail.com"</td>
              </tr>
              <tr>
                <td>Contraseña</td>
                <td align="right" id="Contraseña">**************</td>
              </tr>
              <tr>
                <td>Area de asignatura</td>
                <td align="right" id="Area_asignatura">"XXXXXXXXXXX"</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="container" id="Contacto">
        <div class="row">
          <h5>Informacion de contacto</h5>
        </div>
        <div class="row">
          <table class="table" id="Culumnacontactos">
            <tbody>
              <tr>
                <td>Direccion</td>
                <td align="right" id="Dirrecion">"XXXXXXXXXXXXXX"</td>
              </tr>
              <tr>
                <td>Numero celular</td>
                <td align="right" id="Numero_celular">"0000000000000"</td>
              </tr>
              <tr>
                <td>Numero telefonico</td>
                <td align="right" id="Numero_telefonico">"000000000000"</td>
              </tr>
              <tr>
                <td>Correo_institucional</td>
                <td align="right" id="Correo_institucional">XXXXXXXXX@XXXXX.edu.com</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="container" id="Configuraciones">
        <div class="row">
          <h5>Configuraciones</h5>
        </div>
        <div class="row">
          <table class="table" id="Culumnaconfiguraciones">
            <tbody>
              <tr>
                <td>Idioma</td>
                <td align="right" id="Idioma">"Español"</td>
              </tr>
              <tr>
                <td>Notificaciones</td>
                <td align="right" id="Notificaciones">"Todas"</td>
              </tr>
              <tr>
                <td>Privacidad</td>
                <td align="right" id="Privacidad">"Solo profesores"</td>
              </tr>
              <tr>
                <td>Actividades</td>
                <td align="right" id="Actividades">"Todas"</td>
              </tr>
              <tr>
                <td>Cursos</td>
                <td align="right" id="Cursos">"Todos"</td>
              </tr>
              <tr>
                <td>Notas</td>
                <td align="right" id="Notas">"Todas"</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha484-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>